@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*,
body {
   font-family: 'Inter', sans-serif;
}

body {
   padding-top: 64px;
}

/* h1,
h2 {
   font-family: 'DM Serif Display', serif;
} */

.react-toast-notifications__container {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.react-toast-notifications__container::-webkit-scrollbar {
   display: none;
}

.image__thumbnail {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* navbar css */
/* body {
   margin: 0;
   background: #151616;
   font-family: roboto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
} */

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

:root {
   --bg: #242526;
   --bg-accent: #484a4d;
   --text-color: inherit;
   --nav-size: 60px;
   --border: 1px solid #474a4d;
   --border-radius: 8px;
   --speed: 500ms;
}

.ul-class {
   /* list-style: none; */
   margin: 0;
   padding: 0;
}

.link-class {
   color: var(--text-color);
   text-decoration: none;
}

.span-class {
   color: var(--text-color);
   text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
   height: var(--nav-size);
   background-color: transparent;
   padding: 0 1rem;
   /* border-bottom: var(--border); */
   width: 100%;
}

/* <ul> */
.navbar-nav {
   max-width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
}

/* <li> */
.nav-item {
   width: calc(var(--nav-size) * 1.2);
   display: flex;
   align-items: center;
   justify-content: center;
   /* cursor: pointer; */
}

/* Icon Button */
.icon-button {
   --button-size: calc(var(--nav-size) * 0.5);
   width: var(--button-size);
   height: var(--button-size);
   background-color: #484a4d;
   border-radius: 50%;
   padding: 5px;
   margin: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: filter 300ms;
}

.icon-button:hover {
   filter: brightness(1.2);
}

.icon-button svg {
   fill: var(--text-color);
   width: 20px;
   height: 20px;
}

/* Dropdown Menu */

.nav-dropdown {
   position: absolute;
   top: 58px;
   width: 300px;
   transform: translateX(-45%);
   background-color: #f9f9f9;
   border-radius: var(--border-radius);
   padding: 1rem;
   overflow: hidden;
   transition: height var(--speed) ease;
}

.menu {
   width: 100%;
}

.menu-item {
   height: 50px;
   display: flex;
   align-items: center;
   border-radius: var(--border-radius);
   transition: background var(--speed);
   padding: 0.5rem;
}

.menu-item .icon-button {
   margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
   filter: none;
}

.menu-item:hover {
   background-color: #eeebdd;
}

.icon-right {
   margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
   position: absolute;
   transform: translateX(-110%);
}
.menu-primary-enter-active {
   transform: translateX(0%);
   transition: all var(--speed) ease;
}
.menu-primary-exit {
   position: absolute;
}
.menu-primary-exit-active {
   transform: translateX(-110%);
   transition: all var(--speed) ease;
}

.menu-secondary-enter {
   transform: translateX(110%);
}
.menu-secondary-enter-active {
   transform: translateX(0%);
   transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
   transform: translateX(110%);
   transition: all var(--speed) ease;
}

.redirect_svg__svg-icon {
   width: 1.8em;
   height: 1.8em;
}

.redirect_svg__svg-icon path,
.redirect_svg__svg-icon polygon,
.redirect_svg__svg-icon rect {
   fill: #4691f6;
}

.redirect_svg__svg-icon circle {
   stroke: #327e1b;
   stroke-width: 1;
}
.leftArrow_svg__left-arrow-icon {
   width: 1em;
   height: 1em;
}

.leftArrow_svg__left-arrow-icon path,
.leftArrow_svg__left-arrow-icon polygon,
.leftArrow_svg__left-arrow-icon circle {
   stroke: #4691f6;
   stroke-width: 1;
}
.leftArrow_svg__left-arrow-icon rect {
   fill: var(--text-color);
}
@media screen and (max-width: 786px) {
   .navbar {
      height: auto;
   }
   .navbar-nav {
      flex-direction: column !important;
      justify-content: flex-start;
   }
   .nav-item {
      width: 100%;
      justify-content: flex-start;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      flex-direction: column;
   }
   .span-class {
      width: 100%;
   }
   .nav-dropdown {
      position: relative;
      width: 100%;
      top: 0px;
      transform: translateX(0px);
   }
   .leftArrow_svg__left-arrow-icon {
      width: 1.4em;
      height: 1.4em;
   }
}

/*Plans component*/
.hern-our-plans__main {
   min-height: calc(100vh - 128px);
}
.hern-our-plans_plans__plans {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
}
.hern-our-plans_plans__plans--padding {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
   padding: 0.75rem;
}

/*Plans component */
.hern-our-plans_plans__list {
   margin: auto;
   max-width: 980px;
   width: calc(100vw - 40px);
   display: grid;
   grid-gap: 24px;
   grid-template-columns: 1fr 1fr;
   padding: 24px 0;
}
.hern-our-plans_plans__list--count1 {
   display: flex;
   justify-content: center;
}

/*Plan component*/
.hern-our-plans__plan {
   border-radius: 0.5rem;
   border-width: 1px;
   height: fit-content;
}
.hern-our-plans__plan--count1 {
   max-width: 490px;
   width: 100%;
}

.hern-our-plans__plan__img-wrapper {
   object-fit: cover;
   height: 200px;
   width: 100%;
   padding-bottom: 16px;
}
.hern-our-plans__plan__img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
}
.hern-our-plans__plan__body {
   padding-bottom: 1rem;
   padding-right: 1rem;
   padding-left: 1rem;
}

.hern-our-plans__plan__title {
   padding-top: 1rem;
   margin-bottom: 0.5rem;
   font-weight: 500;
   letter-spacing: 0.025em;
   color: rgba(5, 150, 105, 1);
   /* ${theme?.accent && `color: ${theme?.accent}`} */
}
.hern-our-plans__plan__icon {
   border-radius: 9999px;
   object-fit: cover;
   float: right;
   height: 2rem;
   width: 2rem;
}

.hern-our-plans__plan__description {
   border-bottom-width: 2px;
   margin-bottom: 1rem;
   padding-bottom: 0.5rem;
}

.hern-our-plans__plan__servings,
.hern-our-plans__plan__items-per-week {
   width: 100%;
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hern-our-plans__plan__servings__wrapper,
.hern-our-plans__plan__items-per-week__wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 100%;
}

.hern-our-plans__plan__servings__label,
.hern-our-plans__plan__items-per-week__label {
   text-transform: uppercase;
   letter-spacing: 0.05em;
   color: rgba(75, 85, 99, 1);
   font-weight: 500;
   font-size: 0.875rem;
   line-height: 1.25rem;
}
.hern-our-plans__plan__servings__label--multi,
.hern-our-plans__plan__items-per-week__label--multi {
   margin-bottom: 0.5rem;
}

.hern-our-plans__plan__servings__count-list,
.hern-our-plans__plan__items-per-week__count-list {
   border-radius: 4px;
   padding: 0.25rem;
   border-width: 1px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hern-our-plans__plan__servings__count-list-item,
.hern-our-plans__plan__items-per-week__count-list-item {
   border-radius: 2px;
   /* color: #fff; */
   width: 100%;
   min-height: 3rem;
   min-width: 7rem;
   cursor: pointer;
   font-size: 0.875rem;
   line-height: 1.25rem;
   margin-right: 0.25rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hern-our-plans__plan__servings__count-list-item--active,
.hern-our-plans__plan__items-per-week__count-list-item--active {
   color: #fff;
   background-color: rgba(5, 150, 105, 1);
}
.hern-our-plans__plan__servings__count-list-item:hover,
.hern-our-plans__plan__items-per-week__count-list-item:hover {
   color: #fff;
   background-color: rgba(110, 231, 183, 1);
   border-radius: 0.25rem;
}

.hern-our-plans__price {
   display: flex;
   align-items: ceniter;
   flex-direction: column;
   width: 100%;
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
}
.hern-our-plans__price-per-servings {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.hern-our-plans__price-per-servings__prefix,
.hern-our-plans__price-total-servings__prefix,
.hern-our-plans__price-total-servings__suffix,
.hern-our-plans__price-total-servings__prefix {
   color: rgba(75, 85, 99, 1);
}
.hern-our-plans__price-per-servings__price,
.hern-our-plans__price-total-servings__price {
   font-weight: 500;
   color: rgba(5, 150, 105, 1);
   /* ${theme?.accent && `color: ${theme?.accent}`} */
}

.hern-our-plans__price-per-servings__suffix {
   color: rgba(75, 85, 99, 1);
   font-size: 0.75rem;
   line-height: 1rem;
}
.hern-our-plans__price-total-servings {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}

.hern-our-plans__price-per-plan {
   display: flex;
   justify-content: space-between;
   height: 100%;
   width: 100%;
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}

.hern-our-plans__price-total-servings__wrapper {
   display: flex;
   flex: 1 1 0%;
   flex-direction: column;
   text-align: right;
}
.hern-our-plans__price-total-servings__price {
   font-size: 1.5rem;
   line-height: 2rem;
   color: rgba(5, 150, 105, 1);
   font-weight: 500;
   /* ${theme?.accent && `color: ${theme?.accent}`}  */
}
.hern-our-plans__price-total-servings__tax {
   color: rgba(75, 85, 99, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-style: italic;
}

.hern-our-plans__select-plan__btn {
   width: 100%;
   height: 3rem;
   background-color: rgba(96, 165, 250, 1);
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 500;
   color: rgba(255, 255, 255, 1);
   border-radius: 9999px;
   cursor: pointer;
   /* ${bg && `background-color: ${bg};`} */
}

@media screen and (max-width: 786px) {
   .hern-our-plans_plans__list {
      grid-template-columns: 1fr;
   }
   .hern-our-plans__plan__body {
      padding-bottom: 2rem;
      padding-right: 2rem;
      padding-left: 2rem;
   }
}
