.hern-our-menu {
   max-width: 1180px;
   margin: 0 auto;
   width: calc(100% - 40px);
   min-height: calc(100vh - 128px);
}

.hern-our-menu__header {
   width: 100%;
   border-bottom-width: 1px;
   display: flex;
   justify-content: center;
   div {
      display: flex;
      align-items: center;
      padding: 0.75rem 0;
      margin-left: 0.75rem;
      @media screen and (max-width: 768px) {
         display: grid;
         width: 100%;
         border: none;
         grid-gap: 16px;
         grid-template-areas:
            'header header'
            'aside1 aside2'
            'footer footer';
         select {
            border-width: 1px;
            height: 2.5rem;
            border-radius: 0.25rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
         }
         > section {
            padding-left: 0;
            padding-right: 0;
         }
         > section:nth-of-type(1) {
            grid-area: header;
         }
         > section:nth-of-type(2) {
            grid-area: aside1;
         }
         > section:nth-of-type(3) {
            grid-area: aside2;
         }
         > section:nth-of-type(4) {
            grid-area: footer;
         }
      }
   }
   div > * {
      border-right: 1px solid #e5e5e5;
   }
}

@mixin select-section {
   display: flex;
   flex-direction: column;
   padding-right: 0.75rem;
   padding-left: 0.75rem;
   &:last-child {
      border: none;
   }
}
.hern-our-menu__select-section__plans {
   @include select-section();
}
.hern-our-menu__select-section__serving {
   @include select-section();
}
.hern-our-menu__select-section__counts {
   @include select-section();
}
.hern-our-menu__select-section__subscriptions {
   @include select-section();
}

.hern-our-menu__occurences {
   width: 100%;
   height: 64px;
   display: grid;
   margin: auto;
   grid-template-columns: auto 1fr auto;
   @media (max-width: 567px) {
      height: auto;
      grid-gap: 14px;
      padding-top: 14px;
      grid-template-rows: 48px;
      grid-template-columns: 1fr;
   }
}

.hern-our-menu__occurences___btn {
   height: 3rem;
   margin: auto 0.5rem;
   align-self: center;
   border-radius: 9999px;
   border-width: 1px;
   border-color: rgba(6, 95, 70, 1);
   display: flex;
   align-items: center;
   justify-content: center;

   span {
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: Center;
      justify-content: center;
   }
   &:hover {
      background-color: rgba(243, 244, 246, 1);
   }
   &:disabled {
      cursor: not-allowed;
      border-color: rgba(209, 213, 219, 1);
      color: rgba(209, 213, 219, 1);
   }
}
.hern-our-menu__occurences___btn--right {
   @extend .hern-our-menu__occurences___btn;
   padding-left: 0.75rem;
}
.hern-our-menu__occurences___btn--left {
   @extend .hern-our-menu__occurences___btn;
   padding-right: 0.75rem;
}

.hern-our-menu__occurences___btn__icon {
   stroke: currentColor;
   color: rgba(6, 95, 70, 1);
}

.hern-our-menu__occurences___btn__icon--disabled {
   @extend .hern-our-menu__occurences___btn__icon;
   color: rgba(110, 231, 183, 1);
}

.hern-our-menu__occurences__current-date-range {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   line-height: 1.5rem;
   text-align: center;
   color: rgba(55, 48, 163, 1);
   @media (max-width: 768px) {
      font-size: 1.125rem;
      line-height: 1.75rem;
   }
}

.hern-our-menu__product-list {
   display: grid;
   gap: 0.75rem;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.hern-our-menu__product-list__item {
   position: relative;
   border-width: 1px;
   display: flex;
   flex-direction: column;
   background: #fff;
   border-radius: 0.25rem;
   padding: 0.5rem;
   overflow: hidden;
   &:hover {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
         0 2px 4px -1px rgba(0, 0, 0, 0.06);
      top: -0.25rem;
      border-width: 2px;
      border-style: solid;
      border-color: rgba(229, 231, 235, 1);
   }
}
.hern-our-menu__products__item--active {
   border-width: 2px;
   border-color: rgba(248, 113, 113, 1);
}
.hern-our-menu__product-type-indicator {
   position: absolute;
   top: 8px;
   right: 8px;
   z-index: 1;
   > img {
      height: 1.5rem;
      width: 1.5rem;
   }
}
.hern-our-menu__product-label {
   top: 16px;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   position: absolute;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   background-color: rgba(16, 185, 129, 1);
   font-size: 0.875rem;
   line-height: 1.25rem;
   text-transform: uppercase;
   font-weight: 500;
   -webkit-letter-spacing: 0.05em;
   -moz-letter-spacing: 0.05em;
   -ms-letter-spacing: 0.05em;
   letter-spacing: 0.05em;
   color: rgba(255, 255, 255, 1);
}
.hern-our-menu__product-link {
   color: rgba(55, 65, 81, 1);
   cursor: pointer;
   &:hover {
      /* color: ${theme?.accent || 'teal'}; */
      color: teal;
   }
}
.hern-our-menu__product-tag-list {
   color: rgba(107, 114, 128, 1);
   list-style-type: none;
   font-size: 0.75rem;
   line-height: 1.5rem;
   margin-bottom: 0.75rem;
}
.hern-our-menu__product-tag-list__item {
   margin: 0.5rem;
   padding: 0.2rem;
   text-transform: uppercase;
   font-size: 0.75rem;
   line-height: 1rem;
   display: inline-block;
   background-color: rgba(254, 242, 242, 1);
   color: rgba(107, 114, 128, 1);
}

.hern-our-menu__products {
   margin-top: 0.75rem;
}
.hern-our-menu__products__wrapper {
   margin-bottom: 2rem;
}
.hern-our-menu__products__category-title {
   font-size: 1.125rem;
   line-height: 1.75rem;
   color: rgba(55, 65, 81, 1);
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
   padding-bottom: 0.25rem;
   border-bottom-width: 1px;
}
