.hern-spacer--xxs {
   height: 0.25rem;
}
.hern-spacer--xm {
   height: 0.5rem;
}
.hern-spacer--sm {
   height: 0.75rem;
}
.hern-spacer--base {
   height: 1rem;
}
.hern-spacer--md {
   height: 1.25rem;
}
.hern-spacer--lg {
   height: 1.5rem;
}
.hern-spacer--xl {
   height: 2rem;
}
.hern-spacer--2xl {
   height: 2.5rem;
}
.hern-spacer--3xl {
   height: 3rem;
}
.hern-spacer--4xl {
   height: 4rem;
}
