.tabulator-header {
   font-size: 14px;
   border-bottom: 2px solid #d8d8d8;
}

.tabulator-row {
   height: 40px;
   font-size: 16px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid #d8d8d8;
}

.rowClick:hover {
   background: #e5e5e5;
}

.center-text {
   text-align: center !important;
}

.tabulator-arrow {
   border-bottom: 6px solid #bbb !important;
}

.tabulator-header-filter input {
   border: 1px solid #d8d8d8;
   border-radius: 2px;
   margin-top: 5px;
}
